<!DOCTYPE html>
<html>
    <head>
        <title>尔雅通识课题库</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">

        <link rel="stylesheet" href="//lib.sinaapp.com/js/bootstrap/v3.0.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="/static/main.css">

    </head>

    <body>
        <!--[if lt IE 9]>
            
        <![endif]-->

        <div class="container">

            <header>
                <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12">
                    <ul class="nav nav-tabs">
                        <li><a class="brand" href="//erya.hang.im">尔雅通识课题库</a></li>
                        <li class="active"><a href="#search" data-toggle="tab">search</a></li>
                        <li><a href="#about" data-toggle="tab">about</a></li>
                    </ul>
                </div>
            </header>


            <section class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12">
                <div class="tab-content">
                    <div class="tab-pane active" id="search">
                        <input type="search" class="form-control input-lg" id="keyword" placeholder="keyword" />
                        <button class="btn btn-success btn-lg" onclick="search()">search</button>
                        <div id="result"></div>
                    </div>

                    <div class="tab-pane" id="about">

                        {% include 'about.html' %}

                    </div>

                </div>
            </section>


            <!-- footer -->
            <footer class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12">
                <p class="container">Copyright © 2014 <a href="//hang.im">hang.im</a></p>
            </footer>
        </div>

        <script src="//lib.sinaapp.com/js/jquery/2.0.3/jquery-2.0.3.min.js"></script>
        <script src="//lib.sinaapp.com/js/bootstrap/v3.0.0/js/bootstrap.min.js"></script>
        <script src="/static/main.js"></script>
    </body>
</html>
